<form [formGroup]="formIncluir" class="form-inline">
    
    <div class="form-group mx-sm-3 mb-2">
      <label for="numero" class="sr-only">Número Item</label>
      <input type="text" class="form-control" formControlName="numero" placeholder="Número Item">
    </div>
    <button class="btn btn-primary" (click)="salvar($event)" >Adicionar</button>
    <button class="btn btn-danger" (click)="limpar($event)" >Limpar</button>
    <button class="btn btn-primary" (click)="gerarNumeros($event)" >Gerar Números</button>
</form>
