<body class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <span class="navbar-brand">Gerador de Números</span>
              </div>
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">
                    Home
                  </a></li>
                  
              </ul>
          </div>
      </nav>
    </header>
    
    <main role="main" class="inner cover">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</body>